# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [17]:
import pandas as pd
import numpy as np

# Seu código aqui
ano=[1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica=[-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#### 2) Coloque os anos nos índices conforme a tabela.

In [16]:

# seu código aqui
temp_superficie_terreste=pd.Series(anomalia_termica,ano)
temp_superficie_terreste

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [20]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_dic_temperaturas=pd.Series(dic_temperaturas)
serie_dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
data_frame=pd.DataFrame(arr)
data_frame

             0           1           2
0   112.671205   93.589142   96.903052
1    83.072948  102.311933  100.108754
2   112.229630  100.230911   94.599087
3   108.446183   91.083688   99.377084
4   113.944873   90.466243   91.315952
5    87.028147   97.885393  103.998883
6   113.592824   94.916603   96.894424
7   110.942843   92.112114   96.535993
8    87.643177  110.594722   99.447037
9    98.316839   86.784520  102.939881
10   96.945741  100.357616   96.644818
11   98.413698   96.588775  107.306888
12   76.606554  101.428051  118.435013
13   93.485236   83.916067   95.117234
14   98.271268   97.728649  115.567870
15   99.946628   95.138921   84.354906
16  130.078340  105.029353  113.122738
17   99.918342  110.708276   90.619833
18  108.913129  106.093360   94.787672
19   98.663205  111.125109   94.140258

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [61]:
#seu código aqui
import random
indice = list(range(1,20+1))
data_frame=pd.DataFrame(arr, index=indice,columns=['x1','x2','x3'])
data_frame

            x1          x2          x3
1   112.671205   93.589142   96.903052
2    83.072948  102.311933  100.108754
3   112.229630  100.230911   94.599087
4   108.446183   91.083688   99.377084
5   113.944873   90.466243   91.315952
6    87.028147   97.885393  103.998883
7   113.592824   94.916603   96.894424
8   110.942843   92.112114   96.535993
9    87.643177  110.594722   99.447037
10   98.316839   86.784520  102.939881
11   96.945741  100.357616   96.644818
12   98.413698   96.588775  107.306888
13   76.606554  101.428051  118.435013
14   93.485236   83.916067   95.117234
15   98.271268   97.728649  115.567870
16   99.946628   95.138921   84.354906
17  130.078340  105.029353  113.122738
18   99.918342  110.708276   90.619833
19  108.913129  106.093360   94.787672
20   98.663205  111.125109   94.140258

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [74]:
# seu código aqui

data_frame['media']=(data_frame['x1']+data_frame['x2']+data_frame['x3'])/3
data_frame

            x1          x2          x3       media
1   112.671205   93.589142   96.903052  101.054466
2    83.072948  102.311933  100.108754   95.164545
3   112.229630  100.230911   94.599087  102.353209
4   108.446183   91.083688   99.377084   99.635652
5   113.944873   90.466243   91.315952   98.575690
6    87.028147   97.885393  103.998883   96.304141
7   113.592824   94.916603   96.894424  101.801284
8   110.942843   92.112114   96.535993   99.863650
9    87.643177  110.594722   99.447037   99.228312
10   98.316839   86.784520  102.939881   96.013747
11   96.945741  100.357616   96.644818   97.982725
12   98.413698   96.588775  107.306888  100.769787
13   76.606554  101.428051  118.435013   98.823206
14   93.485236   83.916067   95.117234   90.839512
15   98.271268   97.728649  115.567870  103.855929
16   99.946628   95.138921   84.354906   93.146818
17  130.078340  105.029353  113.122738  116.076810
18   99.918342  110.708276   90.619833  100.415484
19  108.913129  106.093360   94.787672  103.264720
20   98.663205  111.125109   94.140258  101.309524

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [77]:
# seu código aqui
data_frame['log_med']=np.log(data_frame['media'])
data_frame

            x1          x2          x3       media   log_med
1   112.671205   93.589142   96.903052  101.054466  4.615660
2    83.072948  102.311933  100.108754   95.164545  4.555607
3   112.229630  100.230911   94.599087  102.353209  4.628430
4   108.446183   91.083688   99.377084   99.635652  4.601520
5   113.944873   90.466243   91.315952   98.575690  4.590825
6    87.028147   97.885393  103.998883   96.304141  4.567511
7   113.592824   94.916603   96.894424  101.801284  4.623023
8   110.942843   92.112114   96.535993   99.863650  4.603806
9    87.643177  110.594722   99.447037   99.228312  4.597423
10   98.316839   86.784520  102.939881   96.013747  4.564491
11   96.945741  100.357616   96.644818   97.982725  4.584791
12   98.413698   96.588775  107.306888  100.769787  4.612839
13   76.606554  101.428051  118.435013   98.823206  4.593332
14   93.485236   83.916067   95.117234   90.839512  4.509094
15   98.271268   97.728649  115.567870  103.855929  4.643005
16   99.946628   95.138921   84.354906   93.146818  4.534177
17  130.078340  105.029353  113.122738  116.076810  4.754252
18   99.918342  110.708276   90.619833  100.415484  4.609316
19  108.913129  106.093360   94.787672  103.264720  4.637296
20   98.663205  111.125109   94.140258  101.309524  4.618180